<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="../../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Open Skies Academy</title>

</head>
<script src="https://kit.fontawesome.com/19e0713a59.js" crossorigin="anonymous"></script>
<body>
    {% load user_agents %}

    <div class="head">

        <div class="logo">
            <p>OPEN SKIES ACADEMY</p>
        </div>

    </div>

    <header class="content header">
        {% if request|is_pc %}
        <img src= "../../static/img/qr.png" alt="" width="280px">
        {% endif %}
        {% if request|is_mobile %}
        <div class="btn-home">
            <a href="https://drive.google.com/file/d/1c2OXVGCLsdrju6lIlVO-5GB2CsWsAx5A/view?usp=sharing" class="btn">DESCARGAR LA APP</a>
        </div>
        {% endif %}
    </header>

    <section class="content sau">

        <h2 class="title">Servicios</h2>
        <p></p>
        
        <div class="box-container">

            <div class="box">
                <i class="far fa-calendar-alt"></i>
                <h3>Asistencia</h3>
                <p>Registra tu asistencia con tan solo leer el codigo QR.</p>
            </div>
            <div class="box">
                <i class="far fa-clipboard"></i>
                <h3>Horario de clases</h3>
                <p>Revisa tu horario para no perder tus clases.</p>
            </div>
        </div>

    </section>

    <footer class="pie-pagina">
        <div class="grupo-1">
            <div class="box">
                <figure>
                    <a href="#">
                        <img src="../../static/img/1.png-removebg-preview.png" alt="icono de la pagina">
                    </a>
                </figure>
            </div>
            <div class="box">
                <h2 style="color: rgb(0, 0, 0);">SIGUENOS EN:</h2>
                <div class="red-social">
                    <a href="https://www.facebook.com/manuelalejandro.collaocontreras" target="_blank" class="fa fa-facebook"></a>
                    <a href="https://www.instagram.com/haronzhuxetumare/?hl=es" target="_blank" class="fa fa-instagram"></a>
                    <a href="https://twitter.com/IbaiLlanos" target="_blank" class="fa fa-twitter"></a>
                    <a href="https://www.youtube.com/channel/UCeeR24qo3BpK115JfzNGflw" target="_blank" class="fa fa-youtube"></a>
                </div>
                <div class="box" style="margin-top: 8px;">
                    <h2 style="color: rgb(0, 0, 0);">Sobre nosotros:</h2>
                    <p style="color: rgb(0, 0, 0);">Creamos una app para facilitar el registro de la asistencia</p>
                    <p style="color: rgb(0, 0, 0);">Somos 3 alumnos de Ingenieria en Informática .</p>
                </div>
            </div>
        </div>
        <div class="grupo-2">
            <small>&copy; 2022 <b>Open Skies Academy</b> - Todos los Derechos Reservados</small>
        </div>
    </footer>
    
</body>
</html>